
<div class="footer quicksand">
    <div class="info">
        <ul>sobre nosotras</ul>
        <p class="nosotras">Somos Victoria y Martina. Podés encontrarnos enviandonos un Whatsapp al 15-1234-5678 o a través de Instagram clickeando el ícono debajo.</p>
        <a href="/">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <div class="mediosdepago">
        <ul>medios de pago</ul>
        <p class="mdp-parrafo">Aceptamos transferencias, efectivo, tarjetas de débito y Mercadopago</p>
    </div>
    <div class="envio">
        <ul>envío</ul>
        <p class="envio-parrafo">Hacemos envíos a las zonas de Castelar, Morón, Ituzaingó y Merlo. También podés pasar a buscar por Castelar, o coordinar envío a través de Andreani</p>
    </div>
    <div class="suscripcion">
        <ul>suscribirse</ul>
        <h1 class="newsletter">newsletter</h1>
        <form class="newsletter-form" action="/" method="post">
            <label for="correo">Newsletter</label>
            <input class="email-input" type="email" id="correo" name="correo">
            <input type="submit" class="card-boton" value="Suscribirse">
        </form>

        </div>
    </div>
</div>
