<div class="header-principal">
    <div class="logo">
        <img class="totulogo" src="assets/totulogo1.jpg" alt="logo">
    </div>

    <div class="marca">
        <h1 class="quicksand">TOTU PASTRY</h1>
    </div>

    <div class="login">
        <button type="button" class="btn">
            <a href="login" class="quicksand">Log in</a>
        </button>
    </div>

    <div class="carrito">
        <button type="button" class="btn">
            <a href="carrito" class="quicksand">Mi carrito</a>
        </button>
    </div>
</div>
